<div class="app">
  <!-- box-border  = lets include set the box sizing to border box to include borders and padding into the calculation
                     https://tailwindcss.com/docs/box-sizing
  -->

  <!-- HEADER -->
  <div class="header">
  </div>

  <!-- BODY -->
  <div class="body">
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <app-menulist *ngIf="testing" [Items]="MenuItems" class="w-full h-full flex flex-row justify-evenly items-stretch"></app-menulist>
  </div>

  <!-- MODALS & TOASTS -->
  <div
    *ngIf="!testing && ConfigIsLoading"
    class="absolute h-1/2 w-full top-0 left-0 bg-slate-900 text-orange-300 flex flex-row justify-center items-center">
      <h1>Configuration is Loading;</h1>
  </div>
  <div
    *ngIf="testing"
    class="absolute h-10vh w-full top-0 left-0 bg-red-900 text-white flex flex-row justify-center items-center">
      <h1>Testing Mode</h1>
      <div *ngIf="ConfigIsLoading">. Config is Loading</div>
  </div>
</div>






<!-- below this is debugging stuff -->
<div *ngIf="testing">
  <table style="width:100%;">
    <colgroup>
      <col span="1" style="width:20%;">
      <col span="1" style="width:70%;">
    </colgroup>
    <tr>
      <td>Navigator Information</td>
      <td><code><pre>{{NavigatorInformation | json}}</pre></code></td>
    </tr>
    <tr>
      <td>MyIpAddress</td>
      <td>{{MyIpAddress}}</td>
    </tr>
    <tr>
      <td>MyMacAddress</td>
      <td>{{MyMacAddress}}</td>
    </tr>
    <tr>
      <td>MyRoomName</td>
      <td>{{MyRoomName}}</td>
    </tr>
    <tr>
      <td>ControlSystemOnline</td>
      <td>{{ControlSystemOnline}}</td>
    </tr>
    <tr>
      <td>ControlSystemOffline</td>
      <td>{{ControlSystemOffline}}</td>
    </tr>
    <tr>
      <td>Config</td>
      <td>{{ConfigString}}</td>
    </tr>
    <tr *ngFor="let entry of IpTableEntry;index as ndx">
      <td>IpTableEntry[{{ndx}}]</td>
      <td>{{entry}}</td>
    </tr>
    <tr>
      <td>Log Count</td>
      <td>{{LogEntries.length}}</td>
    </tr>
    <tr *ngFor="let logentry of LogEntries; index as ndx">
      <td [ngClass]="GetLogEntryClass(logentry)">{{ndx}}</td>
      <td [ngClass]="GetLogEntryClass(logentry)">{{RenderLogItem(logentry)}}</td>
    </tr>
  </table>
</div>