<div class="app">
  <!-- box-border  = lets include set the box sizing to border box to include borders and padding into the calculation
                     https://tailwindcss.com/docs/box-sizing
  -->

  <!-- HEADER -->
  <div class="header">
    <span></span>
  </div>

  <!-- BODY -->
  <div class="body">
    <span></span>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <app-menulist *ngIf="ConfigParsingSuccessful" [Items]="MenuItems" class="footer"></app-menulist>
    <!-- <div class="flex-1"> -->
      <!-- <app-button Icon="https://i.ibb.co/p0hj3jd/Power-Light.png" Label="Shutdown" class="flex-none"></app-button>
      <app-button Icon="https://i.ibb.co/p0hj3jd/Power-Light.png" Label="Shutdown" class="flex-none"></app-button>
      <app-button Icon="https://i.ibb.co/p0hj3jd/Power-Light.png" Label="Shutdown" class="flex-none"></app-button>
      <app-button Icon="https://i.ibb.co/p0hj3jd/Power-Light.png" Label="Shutdown" class="flex-none"></app-button> -->
    <!-- </div> -->
  </div>

</div>






<!-- below this is debugging stuff
<div *ngIf="false">
  <table style="width:100%;">
    <colgroup>
      <col span="1" style="width:20%;">
      <col span="1" style="width:70%;">
    </colgroup>
    <tr>
      <td>Navigator Information</td>
      <td><code><pre>{{NavigatorInformation | json}}</pre></code></td>
    </tr>
    <tr>
      <td>MyIpAddress</td>
      <td>{{MyIpAddress}}</td>
    </tr>
    <tr>
      <td>MyMacAddress</td>
      <td>{{MyMacAddress}}</td>
    </tr>
    <tr>
      <td>MyRoomName</td>
      <td>{{MyRoomName}}</td>
    </tr>
    <tr>
      <td>ControlSystemOnline</td>
      <td>{{ControlSystemOnline}}</td>
    </tr>
    <tr>
      <td>ControlSystemOffline</td>
      <td>{{ControlSystemOffline}}</td>
    </tr>
    <tr>
      <td>Config</td>
      <td>{{ConfigString}}</td>
    </tr>
    <tr *ngFor="let entry of IpTableEntry;index as ndx">
      <td>IpTableEntry[{{ndx}}]</td>
      <td>{{entry}}</td>
    </tr>
    <tr>
      <td>Log Count</td>
      <td>{{LogEntries.length}}</td>
    </tr>
    <tr *ngFor="let logentry of LogEntries; index as ndx">
      <td [ngClass]="GetLogEntryClass(logentry)">{{ndx}}</td>
      <td [ngClass]="GetLogEntryClass(logentry)">{{RenderLogItem(logentry)}}</td>
    </tr>
  </table>
</div>
-->