.app {
    background-color: white;
    color: black;
    height:100%;
    width:100%;
    display: block;
    flex-direction: column;
    justify-content: center;
}
.header {
    height:10%;
    background-color: #00000022;
    display:flex;
    align-items: center;
    justify-content: center;
}
.body {
    height:75%;
    background-color: #00000011;
}
.footer {
    height: 15%;
    background-color: #00000033;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

//button states
.idle {
    background-color: rgba(0, 119, 255, 0.6);
}

.pressed {
    background-color: rgba(0, 119, 255, 0.2);
}

.selected {
    background-color: rgb(53, 147, 255);
}

// these are for the debug stuff
tr {
    overflow-x: clip;
}

td {
    overflow-x: clip;
    border-bottom: 1px solid #CCC;
}
.logtext {
    font-family: monospace;
}

.errtext {
    color:rgb(255, 0, 221);
}
.warntext {
    color:rgb(255, 230, 0);
}
